.div-contenedor-chats {
    background-color: #351f16;
    height: 75%;
    width: 16%;
    top: 25vh;
    left: 84%;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    max-height: 75%;
    overflow-y: auto;
}

.div-contenedor-chats::-webkit-scrollbar {
    width: 10px;
}

.div-contenedor-chats::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.div-contenedor-chats::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.div-contenedor-chats::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.texto-no-chats {
    font-size: larger;
    color: white;
}